//

@for $i from 1 through 6 {
  h#{$i} {
    font-family: "Bubblegum Sans", cursive;
  }
}

.text__white {
  color: getColor(light--1);
}

.text__pink {
  color: getColor(primary__light--1);
}

.text__bold {
  font-weight: 600;
  font-size: 1.8rem;
}

.sec__title {
  margin: 3rem 0;
  color: rgba(0, 0, 0, 0.7);
  // text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
}

.mb__large {
  margin-bottom: 6.4rem;
}

.header-title {
  font-size: 2.4rem;
}

.mb__medium {
  margin-bottom: 2.8rem;
}

.shadow__3d {
  text-shadow: 0 1px 0 hsl(52, 7%, 20%), 0 2px 0 hsl(52, 7%, 18%),
    0 3px 0 hsl(52, 7%, 16%), 0 4px 0 hsl(52, 7%, 14%), 0 5px 0 hsl(52, 7%, 12%),
    0 6px 0 hsl(52, 7%, 10%), 0 7px 0 hsl(52, 7%, 8%), 0 8px 0 hsl(52, 7%, 6%),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.col {
  background-color: getColor(primary);
  color: getColor(light--3);
  font-size: 1.6rem;
}

.d__center {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}
