@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary__light--1: #fa90a3;
  --primary__light--2: #fd6000;
  --primary: #f2395a;
  --primary__dark: #5e2400;
  --secondary: #323b40;
  --tertiary__light--1: #8ccce7;
  --tertiary__light--2: #3898a4;
  --tertiary__dark--1: #2c7982;
  --tertiary: #00b3b4;
  --gray: #888;
  --light--1: #ddd;
  --light--2: #f9f9f9;
  --light--3: #fff;
}

.btn__translate-11::before, .btn__translate-11::after,
.btn__translate-11 .txt, .btn__translate-6::before, .btn__translate-6::after, .btn__translate-5 > span {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 75%;
  font-family: "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
  background-color: var(--primary);
  position: relative;
}
body::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url(../img/logo.png) no-repeat;
  background-size: 50rem;
  background-position: 80% 5rem;
  background-attachment: fixed;
  opacity: 0.6;
  display: block;
  position: absolute;
}

img {
  width: 20rem;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

h1 {
  font-family: "Bubblegum Sans", cursive;
}

h2 {
  font-family: "Bubblegum Sans", cursive;
}

h3 {
  font-family: "Bubblegum Sans", cursive;
}

h4 {
  font-family: "Bubblegum Sans", cursive;
}

h5 {
  font-family: "Bubblegum Sans", cursive;
}

h6 {
  font-family: "Bubblegum Sans", cursive;
}

.text__white {
  color: var(--light--1);
}

.text__pink {
  color: var(--primary__light--1);
}

.text__bold {
  font-weight: 600;
  font-size: 1.8rem;
}

.sec__title {
  margin: 3rem 0;
  color: rgba(0, 0, 0, 0.7);
}

.mb__large {
  margin-bottom: 6.4rem;
}

.header-title {
  font-size: 2.4rem;
}

.mb__medium {
  margin-bottom: 2.8rem;
}

.shadow__3d {
  text-shadow: 0 1px 0 hsl(52, 7%, 20%), 0 2px 0 hsl(52, 7%, 18%), 0 3px 0 hsl(52, 7%, 16%), 0 4px 0 hsl(52, 7%, 14%), 0 5px 0 hsl(52, 7%, 12%), 0 6px 0 hsl(52, 7%, 10%), 0 7px 0 hsl(52, 7%, 8%), 0 8px 0 hsl(52, 7%, 6%), 0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.col {
  background-color: var(--primary);
  color: var(--light--3);
  font-size: 1.6rem;
}

.d__center {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.subtitle {
  font-size: 3.8rem;
  display: inline-block;
  transform: rotate(-5deg) translateY(3rem);
}

.title {
  font-size: 6.2rem;
  line-height: 1.3;
  display: inline-block;
  transform: rotate(-5deg);
}

.sec__title {
  font-size: 2.6rem;
}
.sec__txt {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.6);
}
.sec__noti--title {
  font-size: 1.8rem;
  line-height: 1.4;
  letter-spacing: 0.05rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.sec__noti--msg {
  letter-spacing: 0.1rem;
}

.btn:link, .btn:visited {
  text-decoration: none;
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
}
.btn__3d {
  padding: 1rem 4rem;
  background-color: var(--primary);
  color: var(--light--3);
  box-shadow: -0.6rem 0.6rem 0 var(--primary);
}
.btn__3d:active {
  box-shadow: -0.3rem 0.3rem 0 var(--primary);
}
.btn__3d::before, .btn__3d::after {
  content: "";
  width: 0;
  height: 0;
  border: 0.6rem solid transparent;
  position: absolute;
}
.btn__3d::before {
  border-left-width: 0;
  border-right: 0.6rem solid var(--primary);
  top: 0;
  left: -0.55rem;
}
.btn__3d:active::before {
  border: 0.3rem solid transparent;
  border-left-width: 0;
  border-right: 0.3rem solid var(--primary);
  left: -0.25rem;
}
.btn__3d::after {
  border-top: 0.6rem solid var(--primary);
  border-bottom-width: 0;
  right: 0;
  bottom: -0.6rem;
}
.btn__3d:active::after {
  border: 0.3rem solid transparent;
  border-bottom-width: 0;
  border-top-color: var(--primary);
  bottom: -0.25rem;
}
.btn__border-1 {
  padding: 1rem 4rem;
  border: 0.2rem solid var(--secondary);
  color: var(--gray);
  transition: all 0.3s;
}
.btn__border-1:hover {
  box-shadow: -2rem -0.5rem 0 #000, 2rem 0.5rem 0 #000;
}
.btn__border-2 {
  border-image: linear-gradient(to right, crimson 30%, transparent);
  border-image-width: 0.5rem;
  border-image-slice: 5%;
  padding: 1rem 4rem;
}
.btn__border-2:hover {
  background-image: linear-gradient(to right, crimson, yellow);
}
.btn__translate-1 {
  padding: 1rem 4rem;
  background-image: linear-gradient(60deg, crimson 50%, white, crimson 70%);
  background-size: 300%;
  color: var(--light--1);
  background-position: left;
  transition: all 0.3s;
}
.btn__translate-1:hover {
  background-position: right;
}
.btn__translate-2 {
  padding: 1rem 4rem;
  background-color: crimson;
  color: var(--light--1);
  border: 0.2rem solid crimson;
}
.btn__translate-2:hover {
  color: crimson;
}
.btn__translate-2::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 30%;
  border-radius: 0 0 100% 0;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.btn__translate-2::after {
  content: attr(title);
  width: 100%;
  height: 100%;
  display: inline-block;
  color: var(--light--1);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
}
.btn__translate-2:hover::before {
  height: 100%;
  border-radius: 0 0 0 100%;
}
.btn__translate-2:hover::after {
  opacity: 1;
  color: crimson;
}
.btn__translate-3 {
  padding: 1rem 4rem;
  color: var(--gray);
  border: 0.1rem solid var(--gray);
  overflow: hidden;
}
.btn__translate-3::before, .btn__translate-3::after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}
.btn__translate-3::before {
  background-color: cadetblue;
  transform: rotate(45deg) scale(3.5);
  left: -170%;
  z-index: 10;
}
.btn__translate-3::after {
  content: "Translate 03";
  z-index: 11;
  color: var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__translate-3:hover::before {
  left: 0;
}
.btn__translate-3:hover::after {
  color: var(--light--3);
}
.btn__translate-4 {
  padding: 1rem 4rem;
  color: var(--light--3);
  background-color: cadetblue;
  overflow: hidden;
  transition: all 0.2s;
}
.btn__translate-4::before, .btn__translate-4::after {
  content: "";
  width: 50%;
  height: 100%;
  display: inline-block;
  opacity: 0;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
.btn__translate-4::before {
  content: "Press";
  justify-content: flex-end;
  background-color: crimson;
  left: 60%;
  padding-right: 0.5rem;
}
.btn__translate-4::after {
  content: "Me";
  padding-left: 0.5rem;
  justify-content: flex-start;
  background-color: cadetblue;
  right: 60%;
}
.btn__translate-4:hover::before {
  left: 0;
  opacity: 1;
}
.btn__translate-4:hover::after {
  right: 0;
  opacity: 1;
}
.btn__translate-5 {
  width: 12rem;
  height: 4rem;
  color: var(--light--3);
}
.btn__translate-5 > span {
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  transition: all 0.3s;
}
.btn__translate-5 span:nth-child(1) {
  background-color: rgba(95, 158, 160, 0.2);
  z-index: 2;
  transition-delay: 0.4s;
}
.btn__translate-5:hover span:nth-child(1) {
  transform: translate(0.4rem, 0.4rem);
}
.btn__translate-5 span:nth-child(2) {
  background-color: rgba(95, 158, 160, 0.4);
  z-index: 4;
  transition-delay: 0.3s;
}
.btn__translate-5:hover span:nth-child(2) {
  transform: translate(0.8rem, 0.8rem);
}
.btn__translate-5 span:nth-child(3) {
  background-color: rgba(95, 158, 160, 0.6);
  z-index: 6;
  transition-delay: 0.2s;
}
.btn__translate-5:hover span:nth-child(3) {
  transform: translate(1.2rem, 1.2rem);
}
.btn__translate-5 span:nth-child(4) {
  background-color: rgba(95, 158, 160, 0.8);
  z-index: 8;
  transition-delay: 0.1s;
}
.btn__translate-5:hover span:nth-child(4) {
  transform: translate(1.6rem, 1.6rem);
}
.btn__translate-5 span:nth-child(5) {
  background-color: cadetblue;
  z-index: 10;
  transition-delay: 0s;
}
.btn__translate-5:hover span:nth-child(5) {
  transform: translate(2rem, 2rem);
}
.btn__translate-6 {
  padding: 1rem 4rem;
  clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 100%, 0 100%);
  background-color: cadetblue;
  color: var(--light--3);
}
.btn__translate-6::before, .btn__translate-6::after {
  content: "Hover Me";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all 0.2s;
}
.btn__translate-6::before {
  background-color: crimson;
  left: -100%;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
.btn__translate-6::after {
  background-color: inherit;
  left: 100%;
  background-color: brown;
  clip-path: polygon(0 50%, 100% 50%, 100% 70%, 80% 100%, 0 100%);
}
.btn__translate-6:hover::before {
  left: 0;
}
.btn__translate-6:hover::after {
  left: 0;
}
.btn__translate-7 {
  padding: 1rem 4rem;
  border: 0.1px solid red;
  color: var(--gray);
  overflow: hidden;
  transition: all 0.3s 0.2s;
}
.btn__translate-7::before {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  background-image: linear-gradient(65deg, transparent 30%, red, transparent 70%);
  position: absolute;
  top: 0;
  left: -100%;
  transition: all 0.4s;
}
.btn__translate-7:hover {
  box-shadow: 0 0 0.9rem red;
}
.btn__translate-7:hover::before {
  left: 100%;
}
.btn__translate-8 {
  width: 15rem;
  height: 4rem;
  padding-left: 2.5rem;
  background-color: cadetblue;
  color: var(--light--2);
  border-radius: 0.3rem;
  display: flex !important;
  justify-content: space-around;
  align-items: center;
  transition: all 0.3s;
}
.btn__translate-8 .line {
  width: 3rem;
  height: 0.2rem;
  background-color: #fff;
  display: inline-block;
  margin-left: auto;
  transition: all 0.3s;
}
.btn__translate-8:hover {
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn__translate-8:hover .line {
  transform: translateX(-80%);
}
.btn__translate-9 {
  width: 15rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  background-color: cadetblue;
  color: var(--light--3);
  clip-path: polygon(0 0, 100% 0, 100% 70%, 80% 100%, 0 100%);
  transition: all 0.3s;
}
.btn__translate-9::before, .btn__translate-9::after {
  content: "";
  width: 100%;
  height: 35%;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.7);
  transform: skewX(-30deg);
  position: absolute;
  transition: all 0.3s;
}
.btn__translate-9::before {
  top: 0;
  left: -110%;
}
.btn__translate-9::after {
  bottom: 0;
  left: 110%;
}
.btn__translate-9 .icon::before {
  content: "\f118";
  font-family: "Font Awesome 5 free";
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.btn__translate-9:hover::before {
  left: 80%;
}
.btn__translate-9:hover::after {
  left: -80%;
}
.btn__translate-9:hover .icon::before {
  visibility: visible;
  margin-left: 0.6rem;
  opacity: 1;
}
.btn__translate-10 {
  padding: 1rem 4rem;
  background-color: cadetblue;
  color: var(--light--3);
  overflow: hidden;
  transition: background-color 0.3s 0.15s;
}
.btn__translate-10::before, .btn__translate-10::after {
  content: "";
  width: 96%;
  height: 100%;
  border-radius: 0.8rem;
  display: inline-block;
  background-size: 0.5em;
  position: absolute;
  left: 2%;
  transition: all 0.3s;
}
.btn__translate-10::before {
  background-image: linear-gradient(40deg, transparent 0 68%, #e5fc35 0);
  top: -100%;
}
.btn__translate-10::after {
  background-image: linear-gradient(40deg, #e5fc35 0 30%, transparent 0);
  top: 100%;
}
.btn__translate-10:hover {
  background-color: #111;
}
.btn__translate-10:hover::before, .btn__translate-10:hover::after {
  top: 0;
}
.btn__translate-11 {
  width: 15rem;
  height: 4rem;
  background-color: none;
}
.btn__translate-11::before, .btn__translate-11::after,
.btn__translate-11 .txt {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  transition: all 0.3s;
}
.btn__translate-11 .txt {
  z-index: 10;
  mix-blend-mode: normal;
  color: var(--light--3);
}
.btn__translate-11::before {
  background-color: steelblue;
}
.btn__translate-11::after {
  background-color: skyblue;
  top: -0.3rem;
  left: -0.3rem;
  z-index: 4;
}
.btn__translate-11:hover::before {
  top: 0.6rem;
  left: -0.6rem;
  box-shadow: 0.6rem -0.6rem 0 skyblue;
}
.btn__translate-11:hover::after {
  top: -0.6rem;
  left: 0.6rem;
  box-shadow: 0.6rem -0.6rem 0 steelblue;
}
.btn__translate-12 {
  width: 10rem;
  height: 4rem;
  line-height: 4rem;
  color: var(--light--3);
  text-align: center;
  border-radius: 5rem;
}
.btn__translate-12::before, .btn__translate-12::after,
.btn__translate-12 .txt {
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  border-radius: inherit;
  background-color: palevioletred;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
}
.btn__translate-12 .txt {
  background-color: brown;
  letter-spacing: 0.1rem;
  z-index: 10;
}
.btn__translate-12:hover::before {
  transform: scale(1.08) translate(-10%, -10%);
  opacity: 0;
}
.btn__translate-12:hover::after {
  transform: scale(1.08) translate(10%, 10%);
  opacity: 0;
  transition-delay: 0.25s;
}
.btn__translate-12:hover .txt {
  box-shadow: -0.3rem 0.3rem 0.3rem rgba(0, 0, 0, 0.6);
  transition-delay: 0.5s;
}
.btn__translate-13 {
  width: 15rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
}
.btn__translate-13::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-image: linear-gradient(200deg, cadetblue, lightgreen, orange, cadetblue);
  background-size: 300%;
  background-position: 100%;
  position: absolute;
  top: -0.4rem;
  left: -0.4rem;
  z-index: 5;
  transition: all 1s;
}
.btn__translate-13 .txt {
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  background-color: #444;
  letter-spacing: 0.1rem;
  color: var(--light--3);
  z-index: 10;
  position: absolute;
  top: -0.18rem;
  left: -0.22rem;
  transition: all 0.3s;
}
.btn__translate-13:hover::after {
  animation: runningColor 0.8s linear infinite;
}
.btn__translate-13:active::after {
  animation: runningColor 0.8s linear infinite;
  filter: blur(0.2rem) brightness(80%);
}
.btn__translate-13:active .txt {
  background-color: transparent;
}
.btn__translate-14 {
  padding: 1rem 4rem;
  border-radius: 0.6rem;
  background-color: cadetblue;
  color: var(--light--3);
}
.btn__translate-14 .txt {
  letter-spacing: 0.1rem;
}
.btn__translate-14::after {
  content: "10 Msg";
  background-color: crimson;
  display: inline-block;
  font-size: 1rem;
  padding: 0.05rem 1rem;
  border-radius: 1rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(20%, -50%);
  transition: all 0.3s;
}
.btn__translate-14:hover::after {
  background-color: darkslateblue;
}
.btn__translate-15 {
  padding: 1rem 3rem;
  background-color: cadetblue;
  color: var(--light--3);
  border-radius: 0.6rem;
}
.btn__translate-15 .dot {
  width: 0.1rem;
  height: 0.1rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 0.3s;
}
.btn__translate-15:hover .dot {
  width: 6.3rem;
  height: 78%;
  border-radius: 0.5rem;
  border-bottom: 0.2rem solid var(--light--3);
}
.btn__translate-16 {
  padding: 1rem 4rem;
}
.btn__wave-1 {
  padding: 1rem 4rem;
  color: #fff;
  border: 0.1rem solid cadetblue;
  background-color: cadetblue;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}
.btn__wave-1::before, .btn__wave-1::after {
  content: "";
  height: 500%;
  aspect-ratio: 1/1;
  display: inline-block;
  border-radius: 40%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 70%;
  left: -30%;
  animation: circle 5s linear infinite;
  transition: all 0.3s;
}
.btn__wave-1::after {
  animation-delay: 0.5s;
}
.btn__wave-1:hover::before, .btn__wave-1:hover::after {
  bottom: 150%;
}
.btn__wave-1:hover {
  background-color: cadetblue;
  color: var(--light--3);
}
.btn__wave-2 {
  padding: 1rem 4rem;
  background-color: cadetblue;
  color: var(--light--3);
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes runningColor {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
/*
  perspective-origin: center;
  perspective-origin: top;
  perspective-origin: right;
  perspective-origin: left;
  perspective-origin: bottom;

  perspective-origin: left top;
  perspective-origin: left bottom;
  perspective-origin: center center;
  perspective-origin: right top;
  perspective-origin: right bottom;

  perspective-origin: 0 0; // left top
  perspective-origin: 0 100%; // left bottom
  perspective-origin: 50% 50%; // center center
  perspective-origin: 30% 30%; // left 30% top 30%


  */
/*

.btn__group {
  display: grid;
  grid-template-columns: repeat(3, auto);
  place-items: center start;
  row-gap: 5rem;
}

.btn {
  display: inline-block;
  padding: 0.6rem 4rem;
  text-decoration: none;
  border-radius: 0.8rem;
  font-size: 2rem;
  color: getColor(secondary);

  //   &:not(:last-child) {
  //     margin-right: 2rem;
  //   }

  */
/* DROPSHADOW */
/*
  &__dropShadow {
    color: getColor(light--1);
    background-color: getColor(primary);

    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5),
      0 0.2rem 0.5rem rgba(0, 0, 0, 0.5), 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5),
      0 0.4rem 0.5rem rgba(0, 0, 0, 0.5), 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5),
      0 0.6rem 0.5rem rgba(0, 0, 0, 0.5), 0 0.7rem 0.5rem rgba(0, 0, 0, 0.5),
      0 0.8rem 0.5rem rgba(0, 0, 0, 0.5), 0 0.9rem 0.5rem rgba(0, 0, 0, 0.5);

    transition: all 0.1s;

    &:active {
      transform: translateY(0.3rem);
      box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.5),
        0 0.2rem 0.5rem rgba(0, 0, 0, 0.5), 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5),
        0 0.4rem 0.5rem rgba(0, 0, 0, 0.5), 0 0.5rem 0.5rem rgba(0, 0, 0, 0.5),
        0 0.6rem 0.5rem rgba(0, 0, 0, 0.5);
    }
  }

  */
/* DOOR ANIMATION */
/*

  &__door {
    border: 0.1rem solid getColor(secondary);
    color: getColor(secondary);
    overflow: hidden;

    position: relative;

    &:hover {
      color: getColor(light--3);
    }

    &::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: 400%;
      background: getColor(secondary);
      border-radius: 0.8rem;

      transform: rotate(45deg);
      //   transform-origin: left bottom;
      transition: all 0.3s;

      position: absolute;
      left: -24rem;
      top: -6.5rem;
      z-index: -1;
    }

    &:hover::before {
      left: 0;
    }
  }

  */
/* BORDER */
/*
  &__border {
    position: relative;
    // border: 1px solid;
    border-radius: 0;
    &::before,
    &::after {
      content: "";
      display: inline-block;
      width: 20%;
      height: 35%;
      //   border-radius: 0.8rem;

      position: absolute;

      transition: all 0.3s;
    }

    &::before {
      top: 0;
      left: 0;

      border-left: 0.3rem solid getColor(primary);
      border-top: 0.3rem solid getColor(primary);
    }

    &::after {
      bottom: 0;
      right: 0;

      border-right: 0.3rem solid getColor(primary);
      border-bottom: 0.3rem solid getColor(primary);
    }

    &:hover::before,
    &:hover::after {
      //   width: 104%;
      //   height: 110%;

      border: 0.3rem solid getColor(primary);
    }

    &:hover::before {
      width: 100%;
      height: 100%;
    }

    &:hover::after {
      width: 90%;
      height: 120%;

      bottom: -10%;
      right: 5%;
    }
  }

  */
/* Facebook  */
/*

  &__facebook {
    // padding: 0.6rem 4rem;
    border-radius: 0.3rem;

    &--dark {
      box-shadow: inset 0 0.1rem 0 0 #4d73bf;
      background-color: #4267b2;
      color: getColor(light--3);
      border: 0.1rem solid #4267b2;
      text-shadow: 0 0.1rem 0 #3359a5;

      &:hover {
        background-color: #2b54a7;
      }

      &:active {
        background-color: #1b4698;
        border-color: #1d4698;
      }
    }

    &--white {
      background: #f6f7f9;
      border: 1px solid #ced0d4;
      color: #4d4f56;

      &:hover {
        background: #e9ebee;
      }

      &:active {
        background: #e9ebee;
      }
    }
  }
*/
/*  3D Buttons */
/*
  &__3d {
    background-color: getColor(primary);
    color: getColor(light--3);
    // padding: 0.6rem 4rem;
    border-radius: 0;
    box-shadow: -0.6rem 0.6rem 0 #992900;

    position: relative;

    &:hover {
      background-color: hsl(16deg, 100%, 45%);
    }

    &:active {
      top: 0.3rem;
      box-shadow: -0.3rem 0.3rem 0 #992900;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: 0.6rem solid transparent;

      position: absolute;
    }

    &::before {
      border-right: 0.6rem solid hsl(16deg, 100%, 30%);
      border-left-width: 0;

      top: 0;
      left: -0.55rem;
    }

    &:active::before {
      border: 0.3rem solid transparent;
      border-right: 0.3rem solid hsl(16deg, 100%, 30%);
      border-left-width: 0;
      left: -0.25rem;
    }

    &::after {
      border-top: 0.6rem solid hsl(16deg, 100%, 30%);
      border-bottom-width: 0;

      position: absolute;
      bottom: -0.56rem;
      right: 0;
    }

    &:active::after {
      border: 0.3rem solid transparent;
      border-top: 0.3rem solid hsl(16deg, 100%, 30%);
      border-bottom-width: 0;
      bottom: -0.28rem;
    }
  }

  */
/* Gradient */
/*
  &__gradient {
    color: #de3d02;
    padding: 0.6rem 4rem;
    border: 1rem solid transparent;

    transition: all 0.3s;

    &--1 {
      border-image: linear-gradient(to bottom, #f18c08, #f3c319);
      border-image-slice: 1;

      &:hover {
        color: #fff;
        background: linear-gradient(to bottom, #f18c08, #f3c319);
      }
    }

    &--2 {
      border-image: linear-gradient(to right, #dc143c, transparent);
      border-right: none;
      border-image-slice: 1;

      &:hover {
        background: linear-gradient(to right, crimson, transparent);
        color: #fff;
      }
    }
  }

  */
/* Slide Button */
/*
  &__slide-1 {
    border: 0.2rem solid #ced0d4;
    color: #4d4f56;
    overflow: hidden;

    position: relative;

    transition: all 0.3s;

    &:hover {
      border: 0.2rem solid transparent;
    }

    &::before,
    &::after {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 0.8rem;

      color: #fff;

      display: flex;
      justify-content: center;
      align-items: center;

      position: absolute;
      top: 0;
      // left: -100%;
      left: 0;

      transition: all 0.3s;
    }

    &::before {
      content: "Click Me";
      background-color: #f6244e;
      transform: scale(2);
      opacity: 0;
    }

    &:hover::before {
      transform: scale(1);
      opacity: 1;
    }

    &:active::before {
      content: "Thank You 😍";
      background-color: #4b8f21;
    }
  }

  */
/*  Slide Button */
/*

  &__slide-2 {
    padding: 0.6rem 8rem;
    border: 0.2rem solid #d3d9e7;
    background-color: darkgoldenrod;
    color: #fff;
    overflow: hidden;

    position: relative;

    &::before {
      content: "Press";
      width: 100%;
      height: 100%;
      background-color: crimson;
      display: block;

      position: absolute;
      top: 0;
      left: 100%;

      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 0.3rem;

      transition: all 0.2s;
    }
    &:hover::before {
      left: -50%;
    }

    &::after {
      content: "Hover Me";
      width: 100%;
      height: 100%;
      display: block;
      color: #fff;
      background-color: goldenrod;

      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      display: flex;
      align-items: center;
      justify-content: center;

      padding-left: 0.3rem;

      // opacity: 0;

      transition: all 0.2s;
    }

    &:hover::after {
      content: "Me";
      left: 50%;
      justify-content: start;
    }
  }

  */
/*   WAVE  */
/*

  &__wave {
    background-color: coral;

    position: relative;

    z-index: 10;

    display: block;

    overflow: hidden;

    &:hover {
      .wave {
        top: -12rem;
      }
    }

    .wave__txt {
      // position: relative;
      // z-index: 10;
      color: #fff;
    }

    .wave {
      width: 20rem;
      aspect-ratio: 1/1;
      display: block;

      position: absolute;
      top: -2rem;
      z-index: -1;

      transition: all 0.5s;

      &::before,
      &::after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: #111;

        position: absolute;
        top: 0;
        left: 0;

        transform: translate(-32%, -75%);
      }

      &::before {
        border-radius: 45%;

        animation: wave 5s linear infinite;
      }

      &::after {
        background-color: #22222278;
        border-radius: 40%;

        animation: wave 15s linear infinite;
      }
    }
  }

  */
/*  Animate  */
/*

  &__animate {
    background-image: url(../img/02.jpg);
    background-size: 150%;
    background-position: left;
    color: #fff;
    transition: 1s;

    position: relative;

    &::before {
      content: "Hover Me";
      width: 100%;
      height: 100%;
      display: block;
      color: #fff;
      border-radius: 0.5rem;
      background-color: rgba(0, 0, 0, 0.5);

      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: all 0.3s;
    }

    &:hover::before {
      background-color: rgba(0, 0, 0, 0.2);
      // backdrop-filter: blur(0.5rem);
    }

    &:hover {
      // background-size: 300%;
      background-position: center;
    }
  }

  &__water {
    border: 0.2rem solid #000;

    background-color: #111;

    position: relative;
    border-radius: 0.1rem;

    &::before {
      content: attr(title);
      width: 100%;
      height: 100%;
      color: #efefef;
      display: inline-block;

      position: absolute;
      left: 0;
      top: 0;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &::after {
      content: "";
      width: 100%;
      height: 30%;
      display: inline-block;
      background-color: #fff;
      border-radius: 0 0 100% 0;

      position: absolute;
      top: 0;
      left: 0;

      transition: all 0.3s;
    }

    &:hover::before {
      color: #111;
      z-index: 11;
    }

    &:hover::after {
      height: 90%;
      border-radius: 0 0 0 100%;
    }
  }

  &__back-1 {
    background-color: crimson;
    color: #fff;
    position: relative;
    overflow: hidden;

    transform: all 0.5s;

    &:hover {
      background: #333;
    }

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;

      background-size: 1rem;

      clip-path: ellipse(50% 100%);

      position: absolute;
      top: 0;
      left: 0;

      transition: all 0.3s;
    }

    &::before {
      background-image: linear-gradient(20deg, yellow 30%, transparent 0);
      transform: translateY(35%);
    }

    &::after {
      background-image: linear-gradient(200deg, yellow 30%, transparent 0);
      transform: translateY(-35%);
    }

    &:hover::before,
    &:hover::after {
      transform: translateY(0);
    }
  }

  &__back-2 {
    position: relative;
    color: #fff;

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      display: inline-block;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    &::before {
      background-image: linear-gradient(to right, crimson 40%, transparent 60%);
    }

    &::after {
      background-image: linear-gradient(to left, blue 40%, transparent 60%);
    }
  }
}

@keyframes wave {
  0% {
    transform: translate(-30%, -75%) rotate(0);
  }

  100% {
    transform: translate(-30%, -75%) rotate(400grad);
  }
}

.mix__blend {
  padding: 0.6rem 4rem;
  font-size: 1.8rem;
  border: 2px solid #000;
  cursor: pointer;

  position: relative;

  &::before,
  &::after {
    content: "";
    width: 50%;
    height: 100%;
    display: block;

    // transition: all 0.5s;

    position: absolute;
    top: 0;
    z-index: -1;
  }

  &::before {
    background-color: #fff;
    left: 0;
  }

  &::after {
    background-color: #000;
    right: 0;
  }

  &:hover::before,
  &:hover::after {
    mix-blend-mode: difference;
  }
}

.text {
  color: #fff;
  mix-blend-mode: difference;
  font-weight: 700;
}

// Toggle Button

.toggle-1 {
  display: none;
}

.toggle-label-1 {
  display: inline-block;
  outline: none;
}

.toggle-span-1 {
  position: relative;
  width: 9rem;
  height: 4rem;
  display: block;
  border-radius: 4rem;
  background-color: #de3d02;
  padding: 0.1rem;

  position: relative;

  display: flex;
  align-items: center;

  &::before {
    content: "OFF";
    display: block;
    width: 3.6rem;
    aspect-ratio: 1/1;
    background-color: #fff;
    color: #de3d02;
    border-radius: 50%;
    font-size: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 0.2rem;

    transition: all 0.5s;
  }
}

.toggle-1:checked + .toggle-span-1 {
  background-color: #09b709;
}

.toggle-1:checked + .toggle-span-1::before {
  color: #09b709;
  content: "ON";
  left: 5.2rem;
  transform: rotate(2turn);
}

.toggle-input-2 {
  display: none;
}

.toggle-2 {
  display: inline-block;
}

.toggle-span-2 {
  display: block;
  padding: 0.6rem 4rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  border: 0.2rem solid #ced0d4;
  color: #93959a;
  cursor: pointer;

  // display: flex;
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 1.15rem;
    aspect-ratio: 1/1;
    background-color: #ced0d4;
    border-radius: 0.1rem;

    position: absolute;
    top: 52%;
    left: 10%;

    transform: translateY(-50%);
  }
}

.toggle-input-2:checked + .toggle-span-2 {
  color: #09b709;
  border: 0.2rem solid currentColor;
}

.toggle-input-2:checked + .toggle-span-2::before {
  background-color: #09b709;
}
*/
.sec {
  max-width: 90rem;
  min-height: 30rem;
  position: relative;
  z-index: 1;
}
.sec__container {
  background-color: var(--light--3);
  padding: 6rem 4rem;
  border-radius: 0.8rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.sec__noti {
  padding: 1.5rem 4rem;
  background-color: var(--secondary);
  color: var(--light--2);
  display: inline-block;
  border-radius: 0.8rem;
  transform: rotate(-90deg) translateY(-112%);
  transition: all 0.3s;
  position: absolute;
  left: 0;
  top: 6rem;
  z-index: -1;
}
.sec:hover .sec__noti {
  left: -1.5rem;
}

.row {
  background-color: var(--light--1);
  padding: 3rem 1rem;
  min-height: 20rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 0 3rem;
  justify-content: flex-end;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: stretch;
  align-items: flex-start;
  align-items: flex-end;
  align-items: center;
  align-items: baseline;
  flex-wrap: wrap;
  align-content: space-between;
  align-content: space-around;
  align-content: space-evenly;
  align-content: flex-end;
  align-content: flex-start;
  align-content: center;
  align-content: stretch;
}
.row > * {
  flex-shrink: 1;
  flex-basis: 15rem;
}
.row > .col:nth-child(3) {
  flex-grow: 20;
}

.wrapper {
  max-width: 114rem;
  min-height: 40rem;
  margin: 0 auto;
  padding: 5rem 2rem;
  background-color: transparent;
}

/*# sourceMappingURL=main.css.map */
