//
.subtitle {
  font-size: 3.8rem;
  display: inline-block;
  transform: rotate(-5deg) translateY(3rem);
}
.title {
  font-size: 6.2rem;
  line-height: 1.3;
  display: inline-block;
  transform: rotate(-5deg);
}

.sec {
  &__title {
    font-size: 2.6rem;
  }

  &__txt {
    font-size: 1.5rem;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
  }
  &__noti {
    &--title {
      font-size: 1.8rem;
      line-height: 1.4;
      letter-spacing: 0.05rem;
      text-decoration: underline;
      text-underline-offset: 0.5rem;
    }

    &--msg {
      letter-spacing: 0.1rem;
    }
  }
}
